<%= button_to "Homepage", root_path, :type => "button", :class => "btn btn-default" , :method => :get %>

<h1>Here show all listing results</h1>
<ul>
<% @searchlistings.each do |x| %>
<hr>
<li><%= x.title %></li>
<li><%= x.description%></li>
<li>$<%= x.price%></li>
<li><%= x.property_type %></li>
<button type="button" class="btn btn-default">
<%= link_to "Go to listing", listing_path(x.id) %>
</button>

<%end%>
</ul>
<%= will_paginate @searchlistings, :page_links => false %>



