<div class="col-md-10 col-sm-10">
<div class="row" id ="row">
<% @listings.each do |list|%>

<div class="all_listing well col-xs-12 col-sm-4 col-md-2" id="/listings/<%=list.id%>" style="cursor:pointer">
	RM<%=list.price%>&nbsp;
	<%=list.title%><br>
	<%=list.address%><br>
	<%=list.property_type%>
	
</div>

<%end%>
</div>
</div>