<!DOCTYPE html>
<html>
  <head>
    <title>WaterBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WaterBnB</a>
        <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        

          <ul class="nav navbar-nav navbar-right">
          
            <% if current_user %>
              <li><%=link_to "create a listing", new_user_listing_path(current_user.id) %></li>
            <li class="dropdown">
            
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= image_tag current_user.avatar%></li>
                <li><%= link_to "Profile", user_path(current_user.id) %></li>
              	<li><%= link_to "Your Listings", user_listings_path(current_user.id)%></li>
								<li><%= link_to "Logout", sign_out_path, method: :delete  %></li>
              </ul>
            </li>
						<% else %>
						<li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
						<li><%= link_to "Login", sign_in_path %></li>
						<% end %>
          </ul>



          
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  </div>



          
        

  
  



 <%#<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>%>
     

  
      
    <div class='container'>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>"  class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%=h value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
